@import '../../vars.scss';

.l {
  margin-top: 80px;

  &__inn {
    width: 100%;


    &-welcome {
      height: 100vh;

      &-i {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &-1 {
          background-image: url('/images/back/1.png');
        }

        &-2 {
          background-image: url('/images/back/3.png');
        }

        &-3 {
          background-image: url('/images/back/2.png');
        }

        &-inner {
          @include flex();

          &-text {
            width: 35%;
            padding-right: 24px;

            h3 {
              font-size: 64px;
              line-height: 64px;
            }

            h5 {
              color: $white;
              margin: 32px 0;
              font-size: 48px;
              line-height: 72px;
            }

            button {
              @include button();
              margin: 12px 0;
            }

          }

          &-gif {
            width: 60%;
          }
        }
      }
    }

    &-about {
      width: 100%;
      background-size: 100%;
      background-position: 0 0;
      margin: 32px 0;


      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }

      &-title {
        width: 100%;
        display: flex;
        // justify-content: flex-end;
        margin-bottom: 24px;

        span {
          font-size: 48px;
          color: $green;
        }
      }

      &-text {
        width: 63%;
        font-size: 20px;
        line-height: 48px;
        padding-right: 48px;
      }

      &-img {
        width: 40%;

        img {
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
        }
      }
    }

    &-services {
      margin: 48px 0;

      &-items {
        display: flex;

        &-i {
          width: 25%;
          padding: 12px 36px;
          display: flex;

          align-items: center;

          &-img {
            width: 120px;
            height: 120px;
            margin-right: 24px;
          }

          &-text {
            width: calc(100% - 144px);
            font-size: 16px;
          }
        }
      }
    }

    &-catalog {
      width: 100%;
      background-size: 100%;
      background-position: center;

      &__text {
        padding: 48px 0;
        text-align: center;
        color: $pink;
        font-size: 56px;
      }


      &-content {
        width: 100%;
      }

      &__more {
        display: flex;
        justify-content: center;

        span {
          @include button;
        }
      }

      &__title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 64px;
        display: flex;
        justify-content: center;
        // text-shadow: -4px -4px 0px $blue;
        // background: repeating-linear-gradient(45deg, $blue, $blue 1px, white 2px, white 3px);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // display: table;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
          margin: 0 24px;
          width: 300px;
          text-align: center;
          padding: 16px 36px;
          border: 1px solid #222222;
          border-radius: 100px;
          background: #222222;
          color: #fff;
          letter-spacing: 6px;
          cursor: pointer;
          transition: .3s ease-in-out;

          &:hover {
            background: $pink;
          }
        }
      }

      &__items {
        display: flex;
        flex-flow: row wrap;

        &-i {
          width: calc(33.3% - 24px);
          margin-right: 36px;
          margin-bottom: 36px;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
          transition: 0.3s ease-in-out;

          &:nth-child(3n) {
            margin-right: 0;
          }


          &:hover {
            transform: scale(1.05);
          }

          &-inner {
            padding: 16px 24px;
          }

          &-img {
            height: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            img {
              // border-radius: 8px;
            }
          }

          &-title {
            font-size: 24px;
            margin: 12px 0;
          }

          &-about {
            font-size: 14px;
            line-height: 20px;
            margin: 24px 0;
          }

          &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-count {
              font-size: 24px;
              color: $pink;
            }

            &-cart {
              padding: 12px 48px;
              background: $pink;
              color: #fff;
              border-radius: 100px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              font-size: 20px;

              &-active {
                background: $green;
              }

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    &-div {
      margin: 36px 0;
    }

    &-footer {
      &-content {
        display: flex;
        align-items: center;
        margin: 36px 0;
      }

      &-map {
        width: 50%;
      }

      &-contacts {
        padding: 0 64px;
        width: 50%;

        &-address {
          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            font-weight: 300;
          }
        }

        &-row {
          display: flex;

          &-i {
            width: 50%;
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
          }

          p {
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }

    &-ind {
      &-content {
        margin: 36px 0;
        display: flex;
        align-items: center;
      }

      &-img {
        width: 40%;

        img {
          border-radius: 8px;
          box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
        }
      }

      &-text {
        text-align: right;
        width: 60%;

        h1 {
          color: $green;
        }

        h3 {
          font-size: 24px;
          font-weight: normal;
          margin: 48px 0;
        }

        &-button {
          a {
            text-transform: uppercase;
            box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);
            margin: 0 24px;
            width: 300px;
            text-align: center;
            padding: 16px 36px;
            border: 1px solid $green;
            border-radius: 100px;
            background: $green;
            color: #fff;
            letter-spacing: 6px;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
              background: $pink;
            }
          }
        }
      }
    }

  }
}

.ant-carousel {
  height: 100%;

  .slick-slide {
    background: white;
    overflow: hidden;

    div {
      height: 100vh;
    }
  }

  .slick-dots {
    li {
      button {
        height: 6px;
        width: 100px;
        background: $blue;
        opacity: 0.4;
        border-radius: 3px;
      }
    }

    .slick-active {
      button {
        width: 150px !important;
        background: $blue !important;
      }
    }
  }
}
