@import '../../vars.scss';

@keyframes background {
  @for $i from 1 through 100 {
    #{$i * 1%} {
      left: 0% - $i
    }
  }
}

.header {
  width: 100%;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);

  // &-top {
  //   background: #000;
  // }

  &-insta {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    padding: 24px;

    a {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }

  }

  &-inner {
    @include flex();
    // padding: 48px 0;
    height: 80px;
    display: flex;
  }

  &-modal {
    background: #fff;
    color: #17181A !important;
    height: 100%;

    &-title {
      color: $pink !important;
      font-size: 36px;
      margin-bottom: 24px;
    }

    &-form {
      display: flex;
      flex-flow: column nowrap;

      input {
        width: 100%;
        padding: 12px 24px;
        font-size: 20px;
        margin-bottom: 24px;
        outline: none;
        border-radius: 100px;
        border: 1px solid $pink;

        &::placeholder {
          font-size: 20px;
          color: $pink;
        }
      }
    }

    &-inner {
      height: 90%;
    }

    &-sum {
      font-size: 24px;
      color: #000 !important;
    }

    &-items {
      &-empty {
        font-size: 24px;
        color: $pink;
        margin: 12px 0;
      }

      &-thanks {
        font-size: 24px;
        color: $pink;
        margin: 12px 0;
      }

      &-i {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        &-img {
          width: 80px;
          height: 80px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 4px;
          margin-right: 24px;
        }

        &-inner {
          width: calc(100% - 104px);
        }

        &-name {
          font-size: 20px;
          margin-bottom: 8px;
        }

        &-price {
          color: $green;
        }
      }
    }

    &-button {
      height: 10%;
      width: 100%;

      span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $pink;
        color: #fff;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          opacity: 0.5;
        }
      }

    }
  }

  &-contact {
    font-weight: bold;
    font-size: 24px;
    color: $pink;
    width: 30%;
    display: flex;
    justify-content: flex-end;

    span {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        margin-left: 24px;
        width: 36px;
        height: 36px;
      }
    }
  }

  &-bg {
    @include transition();
    position: fixed;
    height: 100vh;
    width: 0%;
    top: 0;
    left: 0%;
    background: $pink;
    animation: 1s ease-in-out forwards background;
    animation-delay: 1s;
    color: $white;

    // &-left {
    //   transition: 1s ease-in-out;
    //   left: -100%;
    // }

    &-img {
      @include centered();
      width: 100%;
      height: 100%;
    }
  }
}

.logo {
  width:30%;
  font-size: 32px;
  color: $pink;
  font-weight: bold;
  background: #fff;
  border-radius:8px;
  margin: 0 auto;
  // box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0, 0.23);

  img {
    height: 80px;
    padding:12px;
  }
}

.menu {
  @include flex();
  width: 40%;
  justify-content:center;

  &-i {
    cursor: pointer;
    padding: 8px 24px;
    font-size: 17px;
    color: $pink;
  }
}
